# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# secrets (do not commit)
Flask/db.yaml
.env

# database dumps (GitHub file size limit)
*.sql

# YAML
*.yaml
*.yml

#not complete files
stats.html
readme file 
Flask_Database.pptx
~.pptx
